# Node / Vite
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.db
*.sqlite3

# Firebase & GCP
.firebase/
firebase-debug.log*
ui-debug.log*

# Environment secrets
.env

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
